@import "~swiper/dist/css/swiper.css";
@import "material-design-iconic-font.min.css";

//breakpoint
$screen-lg-min: 768px;
@mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
 }

dc-swiper {
	display: block;
}

.swiper-slide {
	height:auto;
}

figure {
	margin: 0px;
}

.swiper__slide-image--desktop {
	width:100%;
    height:auto;
    display:none;
    @include lg {
        display:block;
    }
}

.swiper__slide-image--mobile {
	width:100%;
    height:auto;
    display:block;
    @include lg {
        display:none;
    }
}

.swiper__nav-arrow-prev {
	left: 5%;
	background-image: none;
}

.swiper__nav-arrow-next {
	right: 5%;
	background-image: none;
}

.swiper__nav-arrow {
    user-select: none;
    position: absolute;
    background-color: rgba(250,252,252,.25);
    border-radius: 100%;
    min-width: 44px;
    width: 5%;
    max-width: 48px;
    top: 55%;
    transform: translateY(-55%);
    cursor: pointer;
    z-index: 1000;
    line-height: 1.15;
    height:48px;
}

.swiper__nav-arrow-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #8f8f8f;
}
